           
/*tabs*/        


.divtabs {    
    /*display: flex;*/
    /*border-collapse: collapse;*/    
    
    margin-bottom: 30px;

}



.divtabs > ul{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    
    list-style: none;
    padding: 0;
    margin: 0;    
}




.divtabs > ul li{        
    width: 120px;
    border: solid 1px;    
    /*border-bottom: none;*/    
    border-color: silver;    
/*    background-color: gainsboro;    */

}


.divtabs .tabinactivo{        
    background-color: #37474f;
}



.divtabs .tabactivo{   
    
    background-color: white;       
    background-color: #546e7a;           
    
    border-bottom: none;
    
}




.tabfin{        
    flex-grow: 2;
    border-bottom: solid 1px;
    
    border-color: silver;    
}




.divtabs  > ul  li a{        

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 30px;    
        
    /*background-color: silver;*/
    /*color: white;*/
        
}




.tabsbody {
    
    border: solid 1px;
    border-top: none;
    
    border-color: silver;        
    padding: 10px;
    

    
}


    


.contenedorTabs{   
    width: 100%;   
    text-decoration: none;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    border:none;    
    padding-top: 2rem;
}


.contenedorTabs ul {
    margin: 0px; 
    padding: 0px;
    display: inline;
    list-style-type: none;
    padding-left: 0px;
}


.contenedorTabs ul li {
    margin: 0; 
    padding: 0;
    display: inline;
    list-style-type: none;
    }


.contenedorTabs ul li a,
.contenedorTabs ul li a.select
{   
   font-weight: bold;
   width: 8rem;
   height: 1.8rem;
    text-decoration: none;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    border:none;
    border-bottom: solid 1px;    
}


.contenedorTabs ul li a.select,
.contenedorTabs ul li a.select:active {
    border: solid 1px;
    border-bottom-width: 0px;    
}


