
<article>
    
        <form
            class="form"
            action="#"
            name="form_paciente"
            id="form_paciente"                    
        >
            
            
            <input                                                 
                type="hidden"
                name="paciente"
                id="paciente_paciente"                
                />            
            
            

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="cedula">Cedula:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="cedula"
                            id="paciente_cedula"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
                



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="nombres">Nombres:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="nombres"
                            id="paciente_nombres"
                            />
                    </div>
                </div>    
            </div>
            



   
            
                
        </form>

</article>

<article id="paciente-acciones">
    <pre></pre>
</article>
                


<article id="paciente-tabuladores">
    <pre></pre>
</article>
                
