

<div class ="table-responsive-vertical wi-8">
    
        <table class="tableB" id="paciente-tabla">
          <thead>
            <tr>
                <th class="ca-5">Código</th>
                <th class="ca-5">cedula</th>
                <th class="ca-20">nombre</th>
                               
                
            </tr>
          </thead>

          <tbody id="paciente-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="paciente_paginacion" class="pagination" >                            
        </div>


        <article id="paciente_acciones_lista">
            <pre></pre>
        </article>    


        
        
