



<article id="idarticulobusqueda" class="conten_busqueda">
    
    
    
    <div class="busqueda_central" id="busqueda_simple">
        
        
        <form
            class="form"
            name="form_documento_movimiento"
            id="form_documento_movimiento"       
            onsubmit="return false;"
            >
                
            
            
            
            <div class="f-line">                

               
                
                <div class="f-campo">
                    
                    <div class="icono"> 
                        <span class="icon-search" id="ico1">                
                        </span>
                    </div> 
                    

                    <div class="bl-30">
                        <input                                                 
                            type="text"
                            name="qry_busquedatexto"
                            id="qry_busquedatexto"
                            placeholder="Escribe texto para buscar"
                            />
                    </div>                    
          
                    
                    
                    <div class="icono" id="icono-x"> 
                        <span class="icon-x" id="ico-x" style="visibility: hidden;">                
                        </span>
                    </div> 

                    <div class="icono"> 
                        <span class="icon-equalizer" id="idcompuest" style="display: none;">                
                        </span>         
                    </div>                        
                    
                </div>                
                
           
                

            </div>        
            
        </form>
                    
        
     
        
        
    </div>
    
    <div class="busqueda_compuesta" id="bus_com_id" ></div>        
    
    
    
    
</article>